LIONSBOT_USER=replace-me
LIONSBOT_PASSWORD=replace-me

FOLDER_NAME=office_new
FLEET_CONFIG=config_r5.yaml
NAV_GRAPH=0.yaml
SERVER_URI=ws://127.0.0.1:8000/_internal
ROS_DOMAIN_ID=0
RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
USE_SIM_TIME=false


# RMF Web alerts. 
RMF_WEB_ALERTS_URL=http://127.0.0.1:8000/alerts/request
RMF_WEB_API_TOKEN=replace-me
